
.credistar-btn {
  padding: 8px 15px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  font-size: 13px;
  font-weight: 400;
  display: inline-block;
  border: 3px solid #fff;
  border-radius: 20px;
  background-image: -webkit-linear-gradient(90deg, #f80, #fecc03 99%);
  background-image: linear-gradient(0deg, #f80, #fecc03 99%);
  color: #FFF;
  box-shadow: 1px 1px 5px #BBB;
  outline:none;

  &:hover,
  &:active,
  &:focus {
    background-image: -webkit-linear-gradient(90deg, #e9e9e9, #fff);
    background-image: linear-gradient(0deg, #e9e9e9, #fff);
    color: #f80
  }
}

.credistar-btn.credistar-btn-red{
  background-image: -webkit-linear-gradient(90deg, #b50912, #fb5356 99%);
  background-image: linear-gradient(0deg, #b50912, #fb5356 99%);

  &:hover,
  &:active,
  &:focus {
    background-image: -webkit-linear-gradient(90deg, #e9e9e9, #fff);
    background-image: linear-gradient(0deg, #e9e9e9, #fff);
    color: #b50912
  }
}

.credistar-btn.credistar-btn-blue{
  background-image: -webkit-linear-gradient(90deg, #2b6699, #8bb8df 99%);
  background-image: linear-gradient(0deg, #2b6699, #8bb8df 99%);

  &:hover,
  &:active,
  &:focus {
    background-image: -webkit-linear-gradient(90deg, #e9e9e9, #fff);
    background-image: linear-gradient(0deg, #e9e9e9, #fff);
    color: #2b6699
  }
}

a.action-icons {
  padding: 4px 7px;
  border: 2px solid #fff;
}
