
a{
  color: #f80;
}

p, td{
  color: #666;
}

th a {
  color: #666;
  font-weight: bold;
}

.action-table tr > td:last-of-type {
  text-align: right;
}


.divider {
  width:100%;
  height: 5px;
  float: left;
  background-color: #DDD;
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 -10px 0 rgba(0, 0, 0, 0.05);
  background-image: -webkit-linear-gradient(135deg, #fff 25%, transparent 25%, transparent 50%, #fff 50%, #fff 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(135deg, #fff 25%, transparent 25%, transparent 50%, #fff 50%, #fff 75%, transparent 75%, transparent);
  background-image: linear-gradient(135deg, #fff 25%, transparent 25%, transparent 50%, #fff 50%, #fff 75%, transparent 75%, transparent);
  -webkit-background-size: 5px 5px;
  background-size: 5px 5px;
  margin: 10px 0;
}

section.content-box {
  border: 1px #DDD solid;
  padding: 30px;
}