
.pagination > .active > a {
  z-index: 3;
  color: #fff;
  cursor: default;
  background-color: #f80;
  border-color: #f80;

  &:hover,
  &:active,
  &:focus {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #f80;
    border-color: #f80;
  }

}

.pagination > li > a, .pagination > li > span {
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.42857143;
  color: #f80;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ddd;

  &:hover,
  &:active,
  &:focus {
    color: #f80;
  }
}
